.infotooltip {
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.infotooltip__logo {
  width: 120px;
  height: 120px;
}

.infotooltip__logo_success {
  background-image: url("../images/success.png");
}

.infotooltip__logo_fail {
  background-image: url("../images/fail.png");
}

.infotooltip__message {
  width: 358;
  height: 58;
  opacity: 1;
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  color: black;
}
